---
---

@import "{{ site.theme }}";
a {
    color: #ffffff;
}
a:hover {
    color: #888888;
}
body {
  background-color: #782121;
  background-image: linear-gradient(#782121, #000000);
  color: #ffffff;
}
